.image-box1{
  height: 100%;
  max-height: 320px;
  min-height: 320px;
  overflow: hidden;
  object-fit: cover;
}

.product-slider-container {
  position: relative;
}

.custom-prev,
.custom-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
  transition: background-color 0.3s ease;
}

.custom-prev:hover,
.custom-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.custom-prev {
  left: -50px;
}

.custom-next {
  right: -50px;
}

.custom-prev i,
.custom-next i {
  font-size: 20px;
}

.swiper-button-prev:after, .swiper-button-next:after{
  font-size: 20px;
}

.sale-badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background: var(--theme-color1);
  color: white;
  padding: 0px 10px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  z-index: 5;
}

.price{
  color: #789011!important;
  font-weight: 600 !important;
}